@{
    Layout = "~/Views/Shared/_layout_N.cshtml";
}
@section head{
    <style>
        .form-body{
            font-size:14px;
            position:absolute;
            border:2px solid red;
            width:600px;
            padding:20px;
            border-radius: 3px 4px;
        }
       .form-body .head{
           text-align:center;
           font-size:16px;
       }
    </style>
    }
<div class="form-body" id="form-body">
    <div class="head">登入</div>
    <div class="content">
        <div class="content-login">
            <form id="form-login"> 
                <label>用户名：<input type="text" name="UserName" /></label>
                <label>密码：<input type="password" name="Password" /></label>
            </form>
        </div>
        <div class="content-login" style="display:none;">
            <form id="form-register"> 
                <label>用户名：<input type="text" name="UserName" /></label>
                <label>密码：<input type="password" name="Password" /></label>
                <label>确认密码：<input type="password" name="Password" /></label>
            </form> 
        </div>
    </div>
    <div class="foot">
        <input type="button" value="登入" />
        <input type="button" value="注册" />
    </div>
</div>
@section foot{
    <script type="text/javascript">
        $(function () {
            AccessInit();
        })
        function AccessInit() {
            var top = ($(window).height() - $("#form-body").height()) / 3;
            var width = ($(window).width() - $("#form-body").width()) / 2; 
            $("#form-body").css("top", parseInt(top) + "px").css("left", parseInt(width) + "px");
        }
        function Login() { 
        }
    </script>
}