<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" /> 
    <script src="~/wwwroot/easyUI/jquery.min.js"></script> 
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
</body>
</html> 
@RenderSection("foot", false)